@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #121212;
  color: rgb(230, 230, 230);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


img {
  object-fit: cover;
}

section {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 2.8rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px auto 30px;
  padding: 0.2em 0.8em;
}

nav a {
  margin-left: 12px;
  margin-right: 5px;
  font-size: 1.3rem;
  /* font-family: 'Lato', sans-serif; */
  text-transform: uppercase;
  font-weight: 400;
}

nav a:hover {
  color: #999999;
}

nav #logo {
  margin-right: auto;
}

small {
  display: block;
  text-align: center;
  padding: 30px 0;
  color: rgb(100, 100, 100);
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.title {
  color: rgb(219, 228, 232);
  text-align: center;
  font-size: 3rem;
}

.text {
  color: rgb(200, 200, 200);
  font-size: 1.1rem;
}

.artists {
  padding: 1em;
}

.artists a {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.artists a:hover {
  color: #999999;
}

footer {
  margin-top: 40px;
}

footer h3 {
  text-align: center;
}

form .container {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

form input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 5px;
  color: rgb(230, 230, 230);
}

form input:focus {
  background: hsla(0, 0%, 100%, 0.4);
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  background-color: #88bbc5;
  color: #FFF;
  border: none;
  border-radius: 0.15em;
  text-transform: uppercase;
}

.socials {
  padding-top: 1.5rem;
  margin: auto;
  width: 50%;
  max-width: 200;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact a:hover {
  color: #999999;
}

.contact #email {
  text-align: center;
  font-size: 2rem;
}

.contact #phone {
  text-align: center;
  font-size: 2rem;
}

.releases {
  display: flex;
  justify-content: space-evenly;
  margin: 0 3rem;
  flex-wrap: wrap;
  gap: 1rem 0;
}

.album a:hover {
  background: hsl(0, 0%, 30%);
}

.bio button {
  margin: 10px 0;
  padding: 13px;
  font-size: 1.1rem;
}

/* Media Queries */

@media screen and (max-width: 1010px) {
  .releases {
    margin: 0px;
    padding: 5px;
  }

  .releases img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 777px) {
  .releases img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 686px) {
  .releases img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 630px) {
  .releases img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 564px) {
  .releases img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 368px) {
  .releases img {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 600px) {
  footer .container {
    flex-direction: column;
    margin: 0 2rem;
  }

  footer .container div {
    align-self: flex-end;
  }
}

@media screen and (max-width: 500px) {
  nav {
    padding: 0.2em 0.5em;
  }

  nav a {
    font-size: 1rem;
  }

  footer .container {
    flex-direction: column;
    margin: 0 2rem;
  }

  footer .container div {
    align-self: flex-end;
  }

}

@media screen and (max-width: 570px) {
  .contact #email, 
  .contact #phone {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 475px) {
  .contact #email,
  .contact #phone {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  nav {
    padding: 0.2em 0em;
  }

  nav a {
    font-size: 0.9rem;
  }

  .contact #email,
  .contact #phone {
    font-size: 1rem;
  }

  .releases img {
    width: 170px;
    height: 170px;
  }
}